#container{
    background-color: #2b9cda;
    background-image: url(img/pattern.png);
    background-size: 33%;
    height: 100px;
}

#logo{
    width: 200px; 
    height: auto;
    padding-top: 40px;
    padding-left: 5px;
}

#titolo{
    font-size: 50px;
    margin-bottom: 0px;
}

#autore{
    margin-top: 0px;
    margin-bottom: 0px;
    color: gray; 
}

#data{
    margin-top: 0px;
    color: gray;
}

#colore-autore{
    color: #2b9cda;
}

#foto-1{
    width: 650px;
    height: auto;
}

#foto-2{
    width: 555px;
    height: auto;
}

#fonti-foto{
    margin-top: 0px;
    font-size: 12px;
}

main > div > p{
    font-size: 19px;
}

.sottolineatura{
    background-color: yellow;
}

main > div > ul{
    padding-inline-start: 16px;
    font-size: 19px;
}

table{
    font-size: 19px;
    border-collapse: collapse;
}

.intestazione{
    width: 300px;
    text-align: left;
    background-color: #047d9b;
    color: white;
}

.intestazione-2{
    text-align: left;
    background-color: #047d9b;
    color: white;
}

.riga-1{
    background-color: rgb(144, 212, 255);
}

.riga-2{
    background-color: rgb(144, 212, 255);
}

footer > h2{
    color: gray;
}

#footer-1{
    background-image: url(img/monitor.jpg);
    height: 200px;
    width: auto;
    background-repeat: no-repeat;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

#footer-2{
    background-image: url(img/graph.jpg);
    height: 200px;
    width: auto;
    background-repeat: no-repeat;
    font-size: 25px;
    font-weight: bold;
    color: white;
}